
.AddedTeachers {

 height: 50em;
 margin-top: 1.5em;
margin-left: 2em;
margin-right: 2em;
}

.AddedTeacherHeader {
    display: flex;
    gap: 43em;
}

.AddedTeacherButton {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.7em;
    width: 9em;
    background: #509CDB;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    height: 2.5em;
    color: white;
    margin-left: -2em;
}

.AddedTeachNotification {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
} 

.AddedBtn {
    background: none;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 8em;
    height: 2.5em;
    color: rgb(0, 0, 0);
}

.AddedBtn:hover {
    background: #509CDB;
    color: white;
}


 .SearchInputDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 1.2em;
    
}

.InAddition {
    position: absolute;
    top: 70%;
}